* {
  list-style:none;
  text-decoration:none;
}

body {
  font-family: 'Noto Serif KR', serif;
  overflow: hidden;
  margin:0;
}

header {
  padding: 0 50px;
}

header > nav {
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid black;
}

.logo {
  width:50px;
}

header > nav > ul > li {
  display:inline-block;
  padding:0 10px;
}

header > nav > ul > li > a {
  color:black;
}

main {
  text-align:center;
}

footer {
  background-color:rgb(228,223,223);
  position: absolute;
  border-top:1px solid rgb(218,218,218);
  bottom:0;
  width:100%;
  padding:30px 50px;
  font-size: 0.8rem;
  color:gray;
}

.default-btn {
  padding:5px 15px;
  background-color:rgb(225,225,225);
  border:1px solid black;
  border-radius:3px;
}